/* 
#1. 스테이터스 블록
<div className="z-10 pending item-status">대기</div>
<div className="z-10 ongoing item-status">진행</div>
<div className="z-10 ended item-status">종료</div>

#2. 현재 입찰가와 시작 가격 
<div className="mt-2">
    <span className="font-bold">20,000원</span>
    <span className="ml-2 text-s text-gray-500 line-through">10,000원</span>
</div>

#3. 입찰과 남은시간
<div className="item-info_wrap">
    <div>
        <span>입찰 </span>
        <span>26회</span>
    </div>
    <span className="bar"></span>
    <div className="item-info time">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
        >
            <path
                d="M13.5443 3.2199C13.7953 2.9243 13.757 2.48076 13.4591 2.23252L11.311 0.442462C11.0169 0.19744 10.5804 0.235108 10.3327 0.526876C10.0817 0.822472 10.12 1.26601 10.4179 1.51425L12.566 3.30431C12.8601 3.54933 13.2966 3.51167 13.5443 3.2199ZM3.57846 1.5113C3.87485 1.26442 3.91379 0.823528 3.66526 0.528522C3.41887 0.23606 2.98262 0.197294 2.68853 0.441729L0.541829 2.22593C0.243509 2.47388 0.204934 2.91764 0.455997 3.21334C0.703548 3.50491 1.13978 3.54259 1.43367 3.2978L3.57846 1.5113ZM7.35 4.79312C7.35 4.50317 7.11495 4.26812 6.825 4.26812C6.53505 4.26812 6.3 4.50317 6.3 4.79312V7.87071C6.3 8.22307 6.48544 8.54942 6.78814 8.72978L9.20096 10.1674C9.43606 10.3075 9.74008 10.2326 9.88328 9.99943C10.0298 9.76086 9.95196 9.44852 9.71067 9.30655L7.84289 8.20758C7.5375 8.0279 7.35 7.70003 7.35 7.3457V4.79312ZM7 1.48759C3.521 1.48759 0.7 4.28898 0.7 7.74379C0.7 11.1986 3.514 14 7 14C10.479 14 13.3 11.1986 13.3 7.74379C13.3 4.28898 10.479 1.48759 7 1.48759ZM7 12.6097C4.291 12.6097 2.1 10.434 2.1 7.74379C2.1 5.05363 4.291 2.87786 7 2.87786C9.709 2.87786 11.9 5.05363 11.9 7.74379C11.9 10.434 9.709 12.6097 7 12.6097Z"
                fill="#626262"
            />
        </svg>
        <span className="pl-[8px]">7일 00시간 </span>
    </div>
</div>
*/

.item-status {
    position: absolute;
    left: initial;
    bottom: 10px;
    right: 10px;
    padding: 8px !important;
    font-size: 12px;
    border-radius: 4px;
    color: white;
}

.pending {
    background-color: rgb(255, 195, 0);
}

.ongoing {
    background-color: rgb(255, 64, 80);
}

.ended {
    background-color: rgb(128, 128, 128);
}

.item-info_wrap {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color--D-gray);
}

.bar {
    width: 1px;
    height: 12px;
    background-color: #9f9f9f;
}

.time {
    display: flex;
    align-items: center;
    padding-left: 28px;
}
