@media (min-width: 1280px) {
    .xl\:ps-5 {
        -webkit-padding-start: 1.25rem;
        padding-inline-start: 1.25rem;
    }
    .xl\:text-base {
        font-weight: 600;
        line-height: 1.5rem;
    }
    .xl\:px-4 {
        font-size: 1.07rem;
    }
}
.main-banner-carousel .swiper-slide {
    display: none;
    width: 760px;
}

@media (min-width: 500px) {
    .main-banner-carousel .swiper-slide {
        display: block;
        width: 420px;
    }
    .text-\[32px\] {
        font-size: 16px;
    }
    .leading-\[40px\] {
        line-height: 20px;
    }
    .leading-\[24px\] {
        line-height: 8px;
    }
    .text-\[18px\] {
        font-size: 9px;
    }
}
@media (min-width: 768px) {
    .main-banner-carousel .swiper-slide {
        display: block;
        width: 740px;
    }
}


@media (min-width: 1024px) {
    .main-banner-carousel .swiper-slide {
        display: block;
        width: 950px;
    }
    .text-\[32px\] {
        font-size: 32px;
    }
    .leading-\[40px\] {
        line-height: 40px;
    }
    .leading-\[24px\] {
        line-height: 24px;
    }
    .text-\[18px\] {
        font-size: 18px;
    }
}

@media (min-width: 1600px) {
    .min-\[1600px\]\:max-w-\[1280px\] {
        max-width: 1300px;
    }
}
@media (min-width: 1600px) {
    .main-banner-carousel .swiper-slide {
        display: block;
        width: 1230px;
    }
    .text-\[32px\] {
        font-size: 32px;
    }
    .leading-\[40px\] {
        line-height: 40px;
    }
    .leading-\[24px\] {
        line-height: 24px;
    }
    .text-\[18px\] {
        font-size: 18px;
    }
}
















/*==================================================*/
.wrapper{
    margin-bottom: 5%;
    overflow: hidden;
}
.wrapper .slide_container {
    width: 530%;
}
.wrapper .slide_container .slide_wrapper {
    display: flex;
    flex-wrap: nowrap;
}
.wrapper .slide_container .slide {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.wrapper .slide_container .slide.original {
    animation: 30s linear infinite normal none running infiniteAnimation1;
}

.wrapper .slide_container .slide.clone {
    animation: 30s linear infinite infiniteAnimation2;
}

.wrapper .slide_container .slide.stop {
    animation-play-state: paused;
}

.wrapper .slide_container .slide li {
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    transform: scale(1);
    margin-left: 0.6%;
    margin-right: 0.6%;
}
.slide li .item img{
    width: 100%;
}

.wrapper .slide_container .slide li:hover {
    transform: scale(0.98);
}

.wrapper .slide_container .slide li:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}


@keyframes infiniteAnimation1 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    50.1% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes infiniteAnimation2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}
.slide-wrapper img {
    margin-right: 10px; /* 이미지 간격 */
}