* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.hidden {
    display: none;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.form-container span {
    font-size: 12px;
    color: #666;
    /* display: block; */
    margin-top: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.image-container {
    display: flex;
}

.image-button {
    width: 85px;
    border: none;
    cursor: pointer;
    height: 85px;
}

.image-button svg {
    display: inline;
}

.select-image {
    position: relative;
    display: inline-block;
}

.select-image img {
    display: block;
    width: 85px;
    height: 85px;
}

.select-image button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-container input[type="text"],
.form-container input[type="datetime-local"],
.form-container textarea,
.form-container select {
    width: 100%;
    height: 50px;
    padding: 8px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: .375rem;
}

.form-container select {
    width: 50%;
}

.form-container textarea {
    height: 200px;
    resize: none;
}

.form-container input[type="datetime-local"] {
    width: 30%;
}

.image-button .image-count {
    font-size: 16px;
}

.price-group {
    /* display: flex; */
}

.price-free {
    display: flex;
    width: 10%;
    align-items: center;
    cursor: pointer;
}

.price-free span {
    font-size: 15px;
}

.trade-type-container {
    display: flex;
}

.trade-type {
    display: flex;
    margin-right: 15px;
    cursor: pointer;
}

.trade-type-container span {
    font-size: 15px;
    margin: 0;
}

.address-container {
    display: flex;
}

.find-address {
    background-color: white;
    color: black;
    border: solid 1px black;
    cursor: pointer;
    width: 20%;
}

.btn, .select-place {
    width: 80px;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5rem;
}

.form-group .btn-place {
    padding: 5px;
    margin: 10px 10px 10px 0px;
    background-color: rgb(13, 204, 90);
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.place-container {
    display: flex;
}

.select-place {
    width: 100px;
    padding: 5px;
    margin: 10px 10px 10px 0px;
    background-color: rgb(241 244 246);;
    border: 1px solid black;
    position: relative;
    text-align: center;
}

.select-place:last-child {
    margin: 10px 0px;
}

.select-place span {
    font-size: 12px;
    color: black;    
}

.select-place button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.form-group .old {
    background-color: rgb(13, 204, 90);
    color: rgb(255, 255, 255);
}

.form-group .new {
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #333;
}
