<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <settings>
		<setting name="cacheEnabled" value="false" />										<!-- 전역 캐시의 활성화 여부, 성능 향상을 위해 쿼리 결과를 캐시에 저장하지 않음(false) -->
		<setting name="lazyLoadingEnabled" value="true" />									<!-- 지연 로딩의 활성화 여부, 연관된 객체가 실제로 필요할 때까지 로딩을 지연(true), 이는 성능 최적화에 도움이 될 수 있음 -->
		<setting name="useGeneratedKeys" value="true" />									<!-- JDBC의 getGeneratedKeys 메서드를 사용하여 데이터베이스에서 생성된 키를 검색할 수 있음(true), 자동 증가 키가 있는 테이블에 대한 삽입 작업 후에 생성된 키를 가져오는 데 사용 -->
		<setting name="defaultExecutorType" value="SIMPLE" />								<!-- MyBatis의 실행 유형, 간단하고 예측 가능한 동작을 제공(SIMPLE) -->
		<setting name="defaultStatementTimeout" value="10000" />							<!-- 개별 SQL 쿼리가 데이터베이스에서 실행되고 완료될 때까지 기다리는 최대 시간을 지정, 지정된 시간 내에 쿼리가 완료되지 않으면 쿼리 타임아웃 예외가 발생 -->
		<setting name="jdbcTypeForNull" value="NULL" />										<!-- SQL을 실행할 때 null 값이 파라미터로 전달될 경우 사용할 JDBC 타입 지정(NULL 지정함 - 특히 오라클에서 중요함) -->
		<setting name="callSettersOnNulls" value="true"/>									<!-- value null 일 경우 컬럼 누락되는 현상 발생으로 추가 -->

 		<setting name="mapUnderscoreToCamelCase" value="true" />							<!-- CamelCase 형태의 자바 프로퍼티명으로 매핑-->
		<setting name="autoMappingUnknownColumnBehavior" value="FAILING" />					<!-- 매핑이 실패시 SqlSessionException 출력 -->
    </settings>

	<typeAliases>
		<typeAlias type="com.app.mine.vo.UserVO" alias="userItemVO"/>
		<typeAlias type="com.app.mine.vo.UsedItemVO" alias="userItemVO"/>
		<typeAlias type="com.app.mine.vo.AuctionItemVO" alias="auctionItemVO"/>
		<typeAlias type="com.app.mine.vo.FileVO" alias="fileVO"/>
	</typeAliases>

</configuration>